@using GT_Core.Presentation.Models.ViewModels
@model StatusPanelViewModel

@{
    var statuses = Model.Statuses.Select(s => new SelectListItem( text: s.Name, value: s.Id.ToString())) ?? new List<SelectListItem>();
}

<h2>
    Status
</h2>
<partial name="_CreateStatusPartial" model="Model.NewStatus" />
@if (statuses.Count() > 0)
{
    <form asp-controller="Admin" asp-action="DeleteStatus" method="post" data-ajax="true" data-ajax-update="#status_panel" data-ajax-mode="replace" class="content-center" >
        <div class="input-container">
            <label asp-for="DeleteStatus"></label>
            <select asp-for=DeleteStatus asp-items="statuses"></select>
        </div>
        <button type="submit" value="Delete">Delete</button>
    </form>
}