@using GT_Core.Presentation.Models.ViewModels
@model CreateTicketViewModel

@{
    IEnumerable<SelectListItem> severities = Model?.Severities?.Select(s => new SelectListItem( text: s.Name, value: s.Id.ToString())) ?? new List<SelectListItem>();
    IEnumerable<SelectListItem> users = Model?.Users?.Select(s => new SelectListItem(text: s.UserName, value: s.Id.ToString())) ?? new List<SelectListItem>();
}

<section>
    <form asp-controller="Ticket" asp-action="Create" method="post" data-ajax="true" data-ajax-update="#dashboard_partial" data-ajax-mode="replace" >
        <input type="hidden" asp-for="Ticket.Status" />
        <div class="input-container">
            <label asp-for="Ticket.Title"></label>
            <input asp-for="Ticket.Title" />
            <span asp-validation-for="Ticket.Title"></span>
        </div>
        <div class="input-container">
            <label asp-for="Ticket.Description"></label>
            <textarea asp-for="Ticket.Description" ></textarea>
            <span asp-validation-for="Ticket.Description"></span>
        </div>
        <div class="input-container">
            <label asp-for="Ticket.Severity"></label>
            <select asp-for="Ticket.Severity" asp-items="@severities"></select>
            <span asp-validation-for="Ticket.Severity"></span>
        </div>
        <div class="input-container">
            <label asp-for="Ticket.Developer"></label>
            <select asp-for="Ticket.Developer" asp-items="@users"></select>
            <span asp-validation-for="Ticket.Developer"></span>
        </div>
        <div class="input-container">
            <label asp-for="Ticket.Consultant"></label>
            <select asp-for="Ticket.Consultant" asp-items="@users"></select>
            <span asp-validation-for="Ticket.Consultant"></span>
        </div>
        <button type="submit">Create</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}