@using GT_Core.Presentation.Models.ViewModels
@model RoleViewModel

<form asp-controller="Admin" asp-action="CreateRole" method="post" data-ajax="true" data-ajax-update="#role_panel" data-ajax-mode="replace" class="content-center" >
    <div class="input-container">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" ></span>
    </div>
    <button type="submit" value="Create">Create</button>
</form>