@using GT_Core.Presentation.Models.ViewModels
@model SeverityViewModel

<form asp-controller="Severity" asp-action="Create" method="post" data-ajax="true" data-ajax-update="#severity_panel" data-ajax-mode="replace" class="content-center" >
    <div class="input-container">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" ></span>
    </div>
    <div class="input-container">
        <label asp-for="Icon"></label>
        <input asp-for="Icon" placeholder="https://www.svgrepo.com/collection/ikonate-thin-interface-icons/1" />
        <span asp-validation-for="Icon" ></span>
    </div>
    <button type="submit" value="Create">Create</button>
</form>